registry=https://npmjs.cmco.io/
//npmjs.cmco.io/:always-auth=true
//npmjs.cmco.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJoaWV1bGUtY3QiLCJnaXRodWIvY2Fyb3VzZWxsIiwiZ2l0aHViL2Nhcm91c2VsbC9jaG90b3QiLCJnaXRodWIvY2Fyb3VzZWxsL0NUIEZyb250ZW5kIEVuZyIsImdpdGh1Yi9jYXJvdXNlbGwvQ1QgRnJvbnRlbmQgVmVydGljYWwiLCJnaXRodWIvY2Fyb3VzZWxsL2N0LWpvYi1lbmdpbmVlciIsImdpdGh1Yi9jYXJvdXNlbGwvY3QtdmVydGljYWwtYmFja2VuZCIsImdpdGh1Yi9jYXJvdXNlbGwvY3QtYWRtaW4tZnJhbWV3b3JrLXRlY2giXSwibmFtZSI6ImhpZXVsZS1jdCIsImdyb3VwcyI6WyIkYWxsIiwiQGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGF1dGhlbnRpY2F0ZWQiLCJoaWV1bGUtY3QiLCJnaXRodWIvY2Fyb3VzZWxsIiwiZ2l0aHViL2Nhcm91c2VsbC9jaG90b3QiLCJnaXRodWIvY2Fyb3VzZWxsL0NUIEZyb250ZW5kIEVuZyIsImdpdGh1Yi9jYXJvdXNlbGwvQ1QgRnJvbnRlbmQgVmVydGljYWwiLCJnaXRodWIvY2Fyb3VzZWxsL2N0LWpvYi1lbmdpbmVlciIsImdpdGh1Yi9jYXJvdXNlbGwvY3QtdmVydGljYWwtYmFja2VuZCIsImdpdGh1Yi9jYXJvdXNlbGwvY3QtYWRtaW4tZnJhbWV3b3JrLXRlY2giXSwiaWF0IjoxNzQ1MzkzNzY1LCJuYmYiOjE3NDUzOTM3NjUsImV4cCI6MTc0NjY4OTc2NX0.1ztlfNIfG8dsHr3h3D8e0hubJhfhp2cD6oGk4KC7NRc
